@font-face {
   font-family: 'Value';
   src: url('../fonts/value-regular.woff');
}

@font-face {
   font-family: 'Value';
   font-weight: bold;
   src: url('../fonts/value-bold.woff');
}

* {
   font-family: 'Value', sans-serif;
}

body {
  background: #FDC3C6;
  background: linear-gradient(#FDC3C6, #CE8E8B);
  color: white;
  cursor: url('../images/bouquet_cursor.png'), auto;	
  height: 100vh;
  line-height: calc(1em + 0.5vw);  
  margin: 0;
}

::selection {
  background-color: #FDC3C6;
}

footer {
  bottom: 0px;
  position: fixed;
  width: 100vw;
}
  

footer p {
  text-align: right;
}

footer a {
  margin-left: 1vw;
}

h1 {
  font-style: italic;
  font-weight: bold;
}

@media screen and (max-width: 580px) {
  h1 {
    line-height: 1.15em;
  }
}

/* fluid typography functions by Indrek Paas @indrekpaas */
@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(42px + 20 * (100vw - 320px) / 660);
  }

  p, a {
    font-size: calc(16px + 2 * (100vw - 320px) / 660);
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 80px;
  }

  p, a {
    font-size: 18px;
  }
}

a {
  color: #FDC3C6;
  text-decoration: none;
}

a svg {
  fill: #FDC3C6;
}

.location svg, .phone svg {
  height: calc(13px + 2 * (100vw - 320px) / 660);
}

.social svg {
  height: calc(20px + 2 * (100vw - 320px) / 660);
  margin-left: 1vh;
}

.location:hover, .phone:hover, .social:hover {
  color: white;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 20vh 0 5vh 0;
}

.container-short {
  padding: 2vh 0 2vh 0;
}
